<dsb-container-atom title="Icon" >
    <section class="d-flex gap-5" >
        @for(icon of icons; track icon){
            <dsb-icon-atom [icon]="icon.name" [size]="icon.size"></dsb-icon-atom>
        }
    </section>
</dsb-container-atom>

<dsb-container-atom title="Badge" >
    <section class="d-flex gap-2" >
        @for(badge of badges; track badge){
            <dsb-badge-atom [text]="badge.type | titlecase" [type]="badge.type" [typeText]="badge.typeText" ></dsb-badge-atom>
        }
    </section>
</dsb-container-atom>

<dsb-container-atom title="Button" >
    <section class="d-flex gap-2" >
        @for(button of buttons; track button){
            <dsb-button-atom 
                [idButton]="button.idButton" 
                [text]="button.type | titlecase" 
                [type]="button.type" 
                (clicker)="onClick($event)" >
            </dsb-button-atom>
        }
    </section>
</dsb-container-atom>


<dsb-container-atom title="Input">
    <section class="d-grid gap-3">
      @for (field of inputSamples; track field.label) {
        <div class="d-flex flex-column gap-2">
          <label class="fw-semibold">{{ field.label }}</label>
          <dsb-input-atom
            [placeholder]="field.placeholder"
            [value]="field.value"
            [theme]="field.theme"
            [disabled]="field.disabled">
          </dsb-input-atom>
        </div>
      }
    </section>
  </dsb-container-atom>

  <dsb-container-atom title="Text">
    <section class="d-grid gap-3">
      @for (sample of textSamples; track sample.variant) {
        <dsb-text-atom
          [content]="sample.content"
          [variant]="sample.variant"
          [theme]="sample.theme">
        </dsb-text-atom>
      }
    </section>
  </dsb-container-atom>